<section class="section-client">
    <div class="container content">
        <div class="row">
            <div class="col s12" style="text-align: center">
                <img class="imagem-logo" src="https://scontent.ffor11-1.fna.fbcdn.net/v/t1.0-9/26993255_1049088231910384_8691672189604342627_n.jpg?_nc_cat=0&oh=88a473d306760137ea0c7d1f8ca5eba8&oe=5B80B618" alt="">
                <h5 class="title-name">Geovane Cavalcante</h5>
                <p  class="frase">Não tenho medo de compartilhar conhecimentos. 
                        Essa é a unica coisa que as pessoas não poderão roubar de mim.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col s4"></div>
            <div class="col s4">
                <ul class="list-names">
                    <li ><a href="/" class="list-a"  href="">Home</a></li>
                    <li ><a routerLink="/postagens" class="list-a" href="">Blog</a></li>
                    <li ><a routerLink="/contatos" class="list-a" href="">Contatos</a></li>
                    <li ><a routerLink="/portfolio" class="list-a" href="">Portfólio</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col s1 m3 l1"></div>
            <div class="col s8 m8 l1">
                <ul class="list">
                    <li ><a class="list-a" href=""><i class="fab fa-facebook"></i></a></li>
                    <li ><a class="list-a" href=""><i class="fab fa-github"></i></a></li>
                    <li ><a class="list-a" href=""><i class="fab fa-linkedin"></i></a></li>
                    <li ><a class="list-a" href=""><i class="fab fa-twitter-square"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
