<section class="section-client" style="z-index: 2">
    <div class="container content">
        <div class="row">
            <div class="col s12" style="text-align: center">
                <img class="imagem-logo" src="../assets/images/profile.jpg" alt="">
                <h5 class="title-name">Geovane Cavalcante</h5>
                <p  class="frase">Não tenho medo de compartilhar conhecimentos.
                        Essa é a unica coisa que as pessoas não poderão roubar de mim.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col s4"></div>
            <div class="col s4">
                <ul class="list-names">
                    <li ><a [ngx-scroll-to]="'home'" routerLink="/" href="" class="list-a"  href="">Home</a></li>
                    <li ><a [ngx-scroll-to]="'post'" routerLink="/postagens" class="list-a" href="">Blog</a></li>
                    <li ><a [ngx-scroll-to]="'cont'" routerLink="/contatos" class="list-a" href="">Contatos</a></li>
                    <li ><a [ngx-scroll-to]="'port'" routerLink="/portfolio" class="list-a" href="">Portfólio</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col s1 m3 l1"></div>
            <div class="col s8 m8 l3">
                <ul class="list">
                    <li ><a class="list-a" href="https://www.facebook.com/geovaneMarley" target="_blank"><i class="fab fa-facebook"></i></a></li>
                    <li ><a class="list-a" href="https://github.com/GeovaneDevelop" target="_blank"><i class="fab fa-github"></i></a></li>
                    <li ><a class="list-a" href="https://www.linkedin.com/in/geovane-feitosa-cavalcante-136b91a6/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                    <li ><a class="list-a" href="https://twitter.com/geovane_python" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
                </ul>
            </div>
            <div class="col s8 m1 l1"></div>
        </div>
    </div>
</section>

