.section-client{
    
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url('/assets/images/sec-cliente.jpg');
    background-size: 170% 100%;
    background-repeat: no-repeat;
    background-position: absolute;
}

.title-name{
    color: white;
    font-size: 30px;
    text-align: center;
    box-shadow: 700px;
}

.imagem-logo{
    margin: auto;
    width: 130px;
    border-radius: 100%;
    border: solid 4px white;
}
.content{
    margin-top: 50px;
}
.frase{
    color: white;
    font-size: 15px;
    text-align: center;
    margin: 0px; 
}

.list{
  display:flex;  
  list-style:none;
  margin-left: 3%;
}

.list li{
    margin-left: 6px;
    margin-right: 38px;
    font-size: 35px;
    color: white;
}

.list li i{
    color: white;
}

.list-names{
    text-align: center;
    font-size: 19px;
    margin: 0px;
}

.list-names li a{
    color: white;
}
.list-names li{
    margin-top: 5px;
}


@media screen and (max-width: 768px) {
    .section-client{
        position: relative;
        float: left;
    }
    .list{
        margin-left: 20 px;
    }
    .list li{
        margin-left: 10px;
        font-size: 25px;
    }
    .list-names{
        text-align: center;
        font-size: 18px;
        margin: 0px;
    }
    .frase{
      
        font-size: 15px;

    }
    .title-name{
        color: white;
        font-size: 25px;
        text-align: center;
        box-shadow: 700px;
    }

    .imagem-logo{
        margin: auto;
        width: 100px;
        border-radius: 100%;
        border: solid 4px white;
    }
}
  
  
@media screen and (min-width: 992px) {
    .list{
        margin-left: -15px;
      }
}

@media screen and (min-width: 1024px) {
    .list{
        margin-left: -50px;
      }
}


@media screen and (min-width: 1200px) {
    .list{
        margin-left: -5px;
      }
}