
    <br><br>
    <div class="row " style="padding-left: 6%; padding-right: 6%;">
        <div class="col s12">
            <h3 class="title"><strong>Conheça-me um pouco mais :D</strong></h3>
            <p class="textoIntro">
              Sou bacharelando em Sistemas de informação, amante da tecnologia,
              especialmente na área de desenvolvimento de software.
              Afinidades com Python, PHP e JS e entusiasta no movimento de software livre.
              Construi esse site com intuito de escrever publicações, compartilhar meus conhecimentos
              com pessoas amantes da tecnologia como eu, e também poder divulgar meu trabalho. Espero que gostem. Bem-vindos!
            </p>
        </div>
    </div>
    <hr class="r">
    <div class="row"  style="padding-left: 6%; padding-right: 6%;">
        <h5 class="title1"><strong>Postagens recentes <i class="fa fa-newspaper-o" aria-hidden="true"></i></strong></h5>
        <div class="carousel col l12">
            <div class="card cardFixe carousel-item">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="imgTamanho" src="../assets/images/post1.jpg">
                </div>
                <div class="card-content" style="margin-top: 0px; padding-top: 4% ">
                    <p class="para" style="color: #878080; padding-bottom: 4%">Postagem há 8 horas</p>
                    <span class="card-title activator grey-text text-darken-4 card-t ">O que é mapeamento objeto relacional? (ORM)</span>
                    <p class="para" style="color: #878080; padding-bottom: 4%"><a href="">#Programação</a> <a href="">#DataBase</a></p>
                </div>
            </div>
              <div class="card cardFixe carousel-item">
                  <div class="card-image waves-effect waves-block waves-light">
                      <img class="imgTamanho"  src="../assets/images/post2.jpg">

                  </div>
                  <div class="card-content" style="margin-top: 0px; padding-top: 4%">
                      <p class="para" style="color: #878080; padding-bottom: 4%">Postagem há 8 horas</p>
                      <span class="card-title activator grey-text text-darken-4 card-t">O que é mapeamento objeto relacionais(ORM)</span>
                      <p class="para" style="color: #878080; padding-bottom: 4%"><a href="">#Programação</a> <a href="">#DataBase</a></p>
                  </div>
              </div>
              <div class="card cardFixe  carousel-item">
                  <div class="card-image waves-effect waves-block waves-light">
                      <img class="imgTamanho"  src="../assets/images/post3.png">

                  </div>
                  <div class="card-content" style="margin-top: 0px; padding-top: 4%">
                      <p class="para" style="color: #878080; padding-bottom: 4%">Postagem há 8 horas</p>
                      <span class="card-title activator grey-text text-darken-4 card-t">O que é mapeamento objeto relacional? (ORM)</span>
                      <p class="para" style="color: #878080; padding-bottom: 4%"><a href="">#Programação</a> <a href="">#DataBase</a></p>
                  </div>
              </div>
              <div class="card cardFixe carousel-item">
                  <div class="card-image waves-effect waves-block waves-light">
                      <img class="imgTamanho"  src="../assets/images/post4.jpg">

                  </div>
                  <div class="card-content" style="margin-top: 0px; padding-top: 4%">
                      <p class="para" style="color: #878080; padding-bottom: 4%">Postagem há 8 horas</p>
                      <span class="card-title activator grey-text text-darken-4 card-t">O que é mapeamento objeto relacional? (ORM)</span>
                      <p class="para" style="color: #878080; padding-bottom: 4%"><a href="">#Programação</a> <a href="">#DataBase</a></p>
                  </div>
              </div>
        </div>

        <div class="col s12 m12 l12" style="margin-top: 60px;">
            <app-contato></app-contato>
        </div>

    </div>


    <br><br><br>
