<div class="row"  id="cont" #contRef>
  <div class="col col s12 m12 l12" style="padding-left: 6%;">
    <h3 class="title1 title_magim"><strong>Entre em <i class="fab fa-contao" aria-hidden="true"></i>ontato </strong></h3>
    <br>
    <p><strong><i class="fa fa-home" aria-hidden="true"></i>   &nbsp; &nbsp;Brasil, Imperatriz Maranhão </strong></p>
    <p><strong><i class="fas fa-envelope"></i>   &nbsp; &nbsp;geovanefeitosacavalcante@gmail.com </strong></p>
    <p><strong><i class="fa fa-mobile" aria-hidden="true"></i>   &nbsp; &nbsp;+55 (99) 98409-8471 </strong></p>
    <br><br>

  </div>

</div>
<div class="row">

  <div class="col s11 m11 l11" style="padding-left: 6%;">
    <app-contato></app-contato>
  </div>
</div>
<app-footer></app-footer>

