.section-client{

    height: 100%;
    width: 100.5%;
    position: absolute;
    background: #076da0;
    box-shadow: 0px 1px 1px #b3b3b7;

}
.logo{
    height: 64px;
    background:  #810496;
    position: absolute;
    width: 100%;
    box-shadow: 0px 2px 2px #b3b3b7;
}

.title2{
    font-size: 12px;
    box-shadow: 700px;
    color: white
}

.imagem-logo{
    margin: auto;
    width: 130px;
    border-radius: 100%;
    border: solid 4px white;
}
.content{
    margin-top: 50px;
}
.frase{
    color: white;
    font-size: 15px;
    text-align: center;
    margin: 0px;
}



.list li i{
    color: rgb(243, 245, 245);
}

.list-names{
    font-size: 13px;
    margin: 0px;
    padding: 0px;
}
.list-names li{
   margin-bottom: 30px;
   text-align: justify;
   font-size: 16px;
}
.list-names li a{
    color: rgb(243, 245, 245);
    padding: 0px;
    margin: 0px;
    text-align: left;
}
.list-names li a:hover{
  color: rgb(180, 175, 175);
  font-weight: 700;
  transition: 0.1s;
}

i{
  color: rgb(243, 245, 245);
    font-size: 18px;
}


@media screen and (max-width: 780px) {
  .section-client{
    position: relative;
    float: left;
    display: none;
}
.list{
    margin-left: 20 px;
}
.list li{
    margin-left: 10px;
    font-size: 25px;
}
.list-names{
    text-align: center;
    font-size: 18px;
    margin: 0px;
}
.frase{

    font-size: 15px;

}
.title-name{
    color: white;
    font-size: 25px;
    text-align: center;
    box-shadow: 700px;
}

.imagem-logo{
    margin: auto;
    width: 100px;
    border-radius: 100%;
    border: solid 4px white;
}
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .section-client{
    position: relative;
    float: left;
    display: none;
}
}


@media screen and (min-width: 992px) {

}

@media screen and (min-width: 1024px) {

}


@media screen and (min-width: 1200px) {

}



/*

@media screen and (min-width: 992px) {
    .list{
        margin-left: -15px;
      }
}

@media screen and (min-width: 1024px) {
    .list{
        margin-left: -50px;
      }
}


@media screen and (min-width: 1200px) {
    .list{
        margin-left: -5px;
      }
}
*/
