.section-client{
    
    height: 100%;
    width: 100%;
    position: absolute;
    background: white;
    box-shadow: 0px 1px 1px #b3b3b7;
    
}
.logo{
    height: 64px;
    background:  #810496;
    position: absolute;
    width: 100%;
    box-shadow: 0px 2px 2px #b3b3b7;
}

.title2{
    font-size: 12px;
    box-shadow: 700px;
    color: white
}

.imagem-logo{
    margin: auto;
    width: 130px;
    border-radius: 100%;
    border: solid 4px white;
}
.content{
    margin-top: 50px;
}
.frase{
    color: white;
    font-size: 15px;
    text-align: center;
    margin: 0px; 
}



.list li i{
    color: white;
}

.list-names{
    font-size: 15px;
    margin: 0px;
    padding: 0px;
}
.list-names li{
   margin-bottom: 30px;
   text-align: justify;
}
.list-names li a{
    color: #7e7e7f;
    padding: 0px;
    margin: 0px;
    text-align: left;
}
i{
    font-size: 18px;
}


@media screen and (max-width: 768px) {
    .section-client{
        position: relative;
        float: left;
    }
    .list{
        margin-left: 20 px;
    }
    .list li{
        margin-left: 10px;
        font-size: 25px;
    }
    .list-names{
        text-align: center;
        font-size: 18px;
        margin: 0px;
    }
    .frase{
      
        font-size: 15px;

    }
    .title-name{
        color: white;
        font-size: 25px;
        text-align: center;
        box-shadow: 700px;
    }

    .imagem-logo{
        margin: auto;
        width: 100px;
        border-radius: 100%;
        border: solid 4px white;
    }
}
  
  
@media screen and (min-width: 992px) {
    .list{
        margin-left: -15px;
      }
}

@media screen and (min-width: 1024px) {
    .list{
        margin-left: -50px;
      }
}


@media screen and (min-width: 1200px) {
    .list{
        margin-left: -5px;
      }
}