.cardFixe{
    height: 100%;
}
.imgTamanho{
    width: 100%;
    height: 100%;
}

.title{
    text-align: center;
    color: #3d3b3b;
}
.divpost{
    padding-left: 4%; padding-right: 6%;
}

.para{
  text-align: center;
  font-size: 15px;
}
@media (max-width: 480px) {

   .si{
       display: none;
   }
   .card-t{
        padding: 0px;
        margin: 0px;
        text-align: center;
        font-size: 150%;
    }
    .para{
        text-align: center;
        font-size: 12px;
    }
    .imgTamanho{
        width:100%;
        height: 100%;
    }
    .divpost{
        padding-left: 1%; padding-right: 1%;
    }
    .foot{
        margin-left: 1%;
    }

}

/* Telefones em paisagem a tablet em retrato */
@media (max-width: 767px) {
    .si{
        display: none;
    }
    .foot{
        margin-left: 4%;
    }
    .card-t{
        padding: 0px;
        margin: 0px;
        text-align: center;
        font-size: 130%;
    }
    .divpost{
        padding-left: 1%; padding-right: 1%;
    }
    .title{
        font-size: 230%;
        margin-top: 10%;
    }

}

/* Tablet em retrato a paisagem e desktop */
@media (min-width: 768px) and (max-width: 992px) {

    .si{
        display: none;
    }
    .divpost{
        padding-left: 1%; padding-right: 1%;
    }
    .title{
        text-align: center;
        color: #3d3b3b;
        font-size: 350%;
    }
    .card-t{
      padding: 0px;
      margin: 0px;
      text-align: center;
      font-size: 140%;
    }
    .cardFixe{
        width:100%;
        height: 100%;
    }

    .para{
        text-align: center;
        font-size: 15px;
    }
    .title{
        font-size: 270%;
        margin-top: 8%;
    }
    .foot{
        margin-left: 10%;
    }
}

/* Desktop grande */
@media (min-width: 1200px) {
    .na{
        display: none;
    }
    .cardFixe{
      width:100%;
      height: 100%;
  }
  .card-t{
      padding: 0px;
      margin: 0px;
      text-align: center;
      font-size: 140%;
  }


}
mz-chip{
  background: #039be5;
  color: white;
}
strong{
  font-weight: 300;
}

