<div class="navbar-fixed">
<nav>
  <div class="nav-wrapper">
    <div class="logo">
        <a href="" class="brand-logo"><i style="font-size: 50px; color: rgb(243, 245, 245)" class="fab fa-gofore"></i> </a>
    </div>

    <a href="" class="brand-logo logo2"><i style="font-size: 150%; color: rgb(243, 245, 245)" class="fab fa-gofore"></i></a>


      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">

        <li class="img_nav"><a href="/admin"><img class="circle img_nav2" style="" src="../assets/images/profile.jpg"></a></li>
        <li><a href="/admin"><b style="font-size: 110%; float: left;">Geovane Cavalcante</b></a></li>
        <li><a href="/admin"><i class="far fa-bell"></i></a></li>
        <li><a href="/admin" ><i  class="fas fa-sign-out-alt"></i></a></li>
      </ul>
  </div>
</nav>
</div>

<ul class="sidenav nav_mobile" id="mobile-demo">
  <br><br>
  <li ><a routerLink="/postagens" class="list-a" href=""><i class="fas fa-tachometer-alt"> </i> Dashboard</a></li>
  <li ><a routerLink="/postagens" class="list-a" href=""><i class="fas fa-file-alt"></i> Postagens</a></li>
  <li ><a routerLink="/postagens" class="list-a" href=""><i class="fas fa-envelope"> </i> Contatos</a></li>
  <li ><a routerLink="/postagens" class="list-a" href=""><i class="fas fa-images"> </i> Imagens</a> </li>
</ul>
