.sec-row{
    padding: 0px;
    position: fixed;
    height: 100%;
}

.div-nav{
  z-index: 999;
  position: absolute;
  margin-top: 2%;
  margin-left: 2%;
}

.sec-row2{
    float: right;
    position: relative;
}
nav{
    background: inherit;
    position: relative;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.name{

  font-size: 90px;
}
.list{

  display: block;
  padding-left: 17%;

}

.list li{

    display: inline-block;
    padding: 0px;
    margin: 0px;


}
.list-a{
  padding: 0px;
  margin: 0px;

}

.list li i{
  display: inline-block;
  font-size: 180%;
}




@media screen and (max-width: 769px) {
  .img_mobile{
    width: 500px;
  }
    .sec-row{


        position: absolute;


    }
    .sec-row{
      display: none;
    }
    nav{
        position: absolute;
        background: inherit;
        border: none;
        box-shadow: 0 0 0 0;
    }

}

@media screen and (min-width: 769px) and (max-width: 992px) {
    .sec-row{
        position: relative;
        height: 650px;
        float: left;
    }
    .sec-row2{
        float: right;
        position:   relative;
    }
    nav{
        position: absolute;
    }
}


@media screen and (min-width: 769px) {
    nav{
        display: none;
    }
}


@media screen and (min-width: 1024px) {
    nav{
        display: none;
    }
}
