<div *ngIf="smallResolution | async" class="div-nav">
<mz-sidenav
  [id]="'sidenav-demo'"
  #sidenav
  [collapseButtonId]="'btn-sidenav-demo'">
  <mz-sidenav-header>
    <div class="user-view">
      <div class="background" style="width: 100%">
          <img src="../assets/images/sec-cliente.jpg" width="100%;" height="270">
      </div>
      <a href="#user"><img class="circle center img_mobile" style="width: 32%; height: 32%;" src="../assets/images/profile.jpg"></a>
        <a ><h1 class="white-text name center" style="font-size: 20px">Geovane Cavalcante</h1></a>
        <a><span class="white-text center" style="margin-top:  -20px">Desenvolvedor de Software</span></a>
    </div>
  </mz-sidenav-header>

  <mz-sidenav-link  (click)="sidenav.opened = !sidenav.opened" >
    <li routerLinkActive="active" ><a routerLink="/home" ><i class="material-icons">home</i>Home</a></li>
  </mz-sidenav-link>

  <mz-sidenav-link (click)="sidenav.opened = !sidenav.opened" >
    <li routerLinkActive="active" ><a routerLink="/postagens" ><i class="material-icons">format_align_left</i>Blog</a></li>
  </mz-sidenav-link>

  <mz-sidenav-link (click)="sidenav.opened = !sidenav.opened" >
    <li routerLinkActive="active" ><a routerLink="/portfolio" ><i class="material-icons">person_pin</i>Portfólio</a></li>
  </mz-sidenav-link>

  <mz-sidenav-link  (click)="sidenav.opened = !sidenav.opened" >
    <li routerLinkActive="active"><a routerLink="/contatos" ><i class="material-icons">contacts</i>Contatos</a></li>
  </mz-sidenav-link>

  <mz-sidenav-divider></mz-sidenav-divider>
  <mz-sidenav-subheader class="center">Redes Sociais</mz-sidenav-subheader>

    <ul class="list">
        <li ><a class="list-a" href="https://www.facebook.com/geovaneMarley" target="_blank"><i class="fab fa-facebook"></i></a></li>
        <li ><a class="list-a" href="https://github.com/GeovaneDevelop" target="_blank"><i class="fab fa-github"></i></a></li>
        <li ><a class="list-a" href="https://www.linkedin.com/in/geovane-feitosa-cavalcante-136b91a6/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
        <li ><a class="list-a" href="https://twitter.com/geovane_python" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
    </ul>


</mz-sidenav>
 <a  mz-button id="btn-sidenav-demo" data-target="slide-out" class="sidenav-trigger"><i  style="color: #039be5; font-size: 30px; font-weight: 800;" class="material-icons">menu</i></a>
</div>

<div class="row">
  <div class="col s12 m12 l4 xl4 sec-row">
    <app-section></app-section>
  </div>
  <div class="col s12  m12  l8 xl8 sec-row2" >
    <router-outlet></router-outlet>
  </div>
</div>
